<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Самойлова Т.А.</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script><!--подключение jquery-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)      <!--подключение скриптов валидации после jquery-->

</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="~/Home/Index" class="navbar-brand">Главная</a></li>
                <li><a href="~/Home/About" class="navbar-brand">Обо мне</a></li>
                <li><a href="~/Main/Select_Product" class="navbar-brand">Продукты</a></li>
                <li><a href="~/Main/Filter_Order" class="navbar-brand">Продажи</a></li>
                <li><a href="~/Main/Filter_Order_Quantity" class="navbar-brand">Остатки</a></li>
            </ul>
        </div>
    </nav>
    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year - Приложение ASP.NET Core, Разработчик: Самойлова, гр. 31ПМИ, СМОЛГУ, ФИЗМАТ</p>
        </footer>
    </div>
</body>
</html>
