@model AdminkaMVC.Models.Order
<h2>Вы выбрали для заказа   @ViewBag.choice</h2>
<form asp-action="Create_Order">
    <fieldset>
        <legend>Заполните пустые поля: </legend>
        <div class="label">
            <input asp-for="ItemCode" class="form-control" value="@ViewBag.id" readonly="@(true)" />
        </div>
        <div class="editor-label">
            Данные для  доставки
        </div>
        <div class="editor-label">
            FirstName
        </div>
        <div class="editor-field">
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="editor-label">
            LastName
        </div>
        <div class="editor-field">
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="editor-label">
            MiddleName
        </div>
        <div class="editor-field">
            <input asp-for="MiddleName" class="form-control" />
        </div>
        <div class="editor-label">
            Ваш адрес для доставки:
        </div>
        <div class="editor-field">
            <input asp-for="Address" class="form-control" />
        </div>
        <div class="editor-label">
            Quantity
        </div>
        <div class="editor-field">
            <input asp-for="Quantity" class="form-control" />
        </div>
        <div class="editor-label">
            Email
        </div>
        <div class="editor-field">
            <input asp-for="Email" class="form-control" />
        </div>
        <!--Добавить Статус-->
        <div class="editor-label">
            Order Date
        </div>
        <div class="editor-field">
            <input asp-for="Order_date" class="form-control" />
        </div>
        <br />
        <p>
            <input type="submit" value="Заказать" />
        </p>
    </fieldset>
</form>
<div>
    @Html.ActionLink("Вернуться назад без заказа", "Select_Product")
</div>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

